<ul class="nav nav-tabs">
  {{#each items}}
    <li>
      <a href="#{{hash}}" data-hash="{{hash}}" role="tab" data-toggle="tab">
        {{hash}}
      </a>
    </li>
  {{/each}}
</ul>
<div id="alerts"></div>
<div class="tab-content">
  {{#each items}}
    <div role="tabpanel" class="tab-pane" id="{{hash}}">
      <h2>
        {{hash}}
        <i class="fa fa-refresh refresh-node-btn" data-hash="{{hash}}"></i>
      </h2>
      <strong>Location:</strong> {{#if location}}{{location.latitude}}, {{location.longitude}}{{/if}}</br>
      <strong>Predecessor</strong> {{predecessor.hash}}</br>
      <strong>Successor</strong> {{successor.hash}}</br>

      <form class="form-inline">
        <input type="hidden" name="hash" id="id_hash" value="{{hash}}" />
        <div class="form-group">
          <input type="text" class="form-control" id="id_key" name="key" placeholder="Key">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="id_value" name="value" placeholder="Value">
        </div>
        <button type="submit" class="btn btn-default" data-action="set">Set</button>
        <button type="submit" class="btn btn-default" data-action="get">Get</button>

        <i class="fa fa-2x fa-spinner fa-pulse" style="display:none"></i>
      </form>

      <h3>Finger table:</h3>
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>#</th>
          <th>interval</th>
          <th>hash</th>
          <th>location</th>
        </tr>
      {{#each finger}}
        <tr>
          <td>{{i}}</td>
          <td>{{interval}}</td>
          <td>{{node.hash}}</td>
          <td>{{#if node.location}}{{node.location.latitude}}, {{node.location.longitude}}{{/if}}</td>
        </tr>
      {{/each}}
      </table>
    </div>
  {{/each}}
</div>
